@charset "UTF-8";
html, body {
  height: 100%;
}

body {
  background-image: url(../img/image.jpg);
  width: 100%;
}

.container {
  max-width: 300px;
  overflow: hidden;
}

input[type=text],
input[type=text]:focus {
  color: #9abca4;
  border: none;
  background: #00000080;
  max-width: 400px;
}

/* 追加 */
.todos li {
  background: #0e101380;
}

/* 追加 */
.delete {
  cursor: pointer;
  opacity: 0;
}

.select {
  text-align: center;
  height: 50px;
}

.list {
  display: block;
  margin: 0 auto;
}

input[type=radio] {
  display: none;
}

label {
  letter-spacing: 20px;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.select input[type="radio"]:checked.selecta + label {
  color: #fcebfa;
  text-shadow: 0 0 10px #eb34db, 0 0 15px #eb34db, 0 0 20px #eb34db, 0 0 25px #eb34db, 0 0 30px #eb34db, 0 0 35px #eb34db, 0 0 40px #eb34db;
  -webkit-transition: .5s;
  transition: .5s;
}

.select input[type="radio"]:checked.selectb + label {
  color: #eff1f8;
  text-shadow: 0 0 10px #2b59f1, 0 0 15px #2b59f1, 0 0 20px #2b59f1, 0 0 25px #2b59f1, 0 0 30px #2b59f1, 0 0 35px #2b59f1, 0 0 40px #abb9e9;
  -webkit-transition: .5s;
  transition: .5s;
}

.select input[type="radio"]:checked.selectc + label {
  color: #f8f7f7;
  text-shadow: 0 0 10px #f56b35, 0 0 15px #e76532, 0 0 20px #e76532, 0 0 25px #e76532, 0 0 30px #e76532, 0 0 35px #e49677, 0 0 40px #e2b7a6;
  -webkit-transition: .5s;
  transition: .5s;
}

.select input[type="radio"]:checked.selectd + label {
  color: #f8fadf;
  text-shadow: 0 0 10px #ecf75a, 0 0 15px #ecf75a, 0 0 20px #ecf75a, 0 0 25px #ecf75a, 0 0 30px #ecf75a, 0 0 35px #ecf75a, 0 0 40px #ecf75a;
  -webkit-transition: .5s;
  transition: .5s;
}

.select input[type="radio"]:checked.selecte + label {
  color: #defde6;
  text-shadow: 0 0 10px #3ae765, 0 0 15px #3ae765, 0 0 20px #3ae765, 0 0 25px #3ae765, 0 0 30px #3ae765, 0 0 35px #3ae765, 0 0 40px #3ae765;
  -webkit-transition: .5s;
  transition: .5s;
}

.select label {
  color: #fff;
  text-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

.li-color-A {
  font-size: 20px;
  color: #fcebfa;
  text-shadow: 0 0 10px #eb34db, 0 0 15px #eb34db, 0 0 20px #eb34db, 0 0 25px #eb34db, 0 0 30px #eb34db, 0 0 35px #eb34db, 0 0 40px #eb34db;
  -webkit-transition: .5s;
  transition: .5s;
}

.li-color-B {
  font-size: 20px;
  color: #eff1f8;
  text-shadow: 0 0 10px #2b59f1, 0 0 15px #2b59f1, 0 0 20px #2b59f1, 0 0 25px #2b59f1, 0 0 30px #2b59f1, 0 0 35px #2b59f1, 0 0 40px #abb9e9;
  -webkit-transition: .5s;
  transition: .5s;
}

.li-color-C {
  font-size: 20px;
  color: #f8f7f7;
  text-shadow: 0 0 10px #f56b35, 0 0 15px #e76532, 0 0 20px #e76532, 0 0 25px #e76532, 0 0 30px #e76532, 0 0 35px #e49677, 0 0 40px #e2b7a6;
  -webkit-transition: .5s;
  transition: .5s;
}

.li-color-D {
  font-size: 20px;
  color: #f8fadf;
  text-shadow: 0 0 10px #ecf75a, 0 0 15px #ecf75a, 0 0 20px #ecf75a, 0 0 25px #ecf75a, 0 0 30px #ecf75a, 0 0 35px #ecf75a, 0 0 40px #ecf75a;
  -webkit-transition: .5s;
  transition: .5s;
}

.li-color-E {
  font-size: 20px;
  color: #defde6;
  text-shadow: 0 0 10px #3ae765, 0 0 15px #3ae765, 0 0 20px #3ae765, 0 0 25px #3ae765, 0 0 30px #3ae765, 0 0 35px #3ae765, 0 0 40px #3ae765;
  -webkit-transition: .5s;
  transition: .5s;
}

form {
  width: 100vw;
  margin: 0 auto;
}

#add {
  background-color: #000000;
  opacity: .3;
  border-radius: 5px;
  border: solid 1px #fff;
  color: #fff;
  padding: 5px;
  -webkit-box-shadow: 0 0 10px #fff, 0 0 15px #fff;
          box-shadow: 0 0 10px #fff, 0 0 15px #fff;
}

#btn {
  width: 100px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  border-style: none;
  border: solid 1px #ffffff4d;
  margin: 20px auto;
  background-color: #00000080;
  color: #fff;
}

#btn:hover {
  cursor: pointer;
  text-shadow: 0 0 10px #fff, 0 0 15px #fff;
  -webkit-transition: 1s;
  transition: 1s;
}

#btn.elem {
  -webkit-transition: .5s;
  transition: .5s;
  -webkit-box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
          box-shadow: 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
}

p {
  color: #1b1919;
  text-align: center;
}

.blinking {
  color: #fff;
  text-shadow: 0 0 4px #fff, 0 0 5px #fff, 0 0 10px #f40, 0 0 15px #f40, 0 0 25px #f40, 0 0 30px #f40;
  -webkit-animation: blink linear infinite 2s;
          animation: blink linear infinite 2s;
}

@-webkit-keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
}

@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
}

.logo {
  text-align: center;
  margin: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.logo b {
  font: 400 13vh "Vibur";
  color: #fee;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em #12dde4, 0 0 0.5em #12dde4, 0 0 0.1em #12dde4, 0 10px 3px #000;
  font-family: 'Economica', sans-serif;
  letter-spacing: 5px;
}

i {
  font-size: 45px;
  font-weight: bold;
}

.logo b span {
  -webkit-animation: blink linear infinite 2.3s;
          animation: blink linear infinite 2.3s;
}

.logo b span:nth-of-type(2) {
  -webkit-animation: blink linear infinite 10s;
          animation: blink linear infinite 10s;
}

.logo b span:nth-of-type(3) {
  -webkit-animation: blink linear infinite 3s;
          animation: blink linear infinite 3s;
}

/* 点滅　順序のある */
@keyframes blink {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #333;
  }
  80% {
    text-shadow: none;
  }
  85% {
    color: inherit;
    text-shadow: inherit;
  }
  86% {
    color: #333;
    text-shadow: none;
  }
  87% {
    color: inherit;
    text-shadow: inherit;
  }
  96% {
    color: #333;
    text-shadow: none;
  }
  97% {
    color: inherit;
    text-shadow: inherit;
  }
}
/*# sourceMappingURL=style.css.map */