
.container {
    max-width: 300px;
    overflow: hidden;
   
}

input[type=text],
input[type=text]:focus {
    color: #9abca4;
    border: none;
    background: #00000080;
    max-width: 400px;
   
}

/* 追加 */
.todos li {
    background: #0e101380;
   
}

/* 追加 */
.delete {
    cursor: pointer;
    opacity: 0;
}

