$fff: #fff;
$cota: #12dde4;
$black: #333;
$white: #fafafa;
$mainPink: #eb34db;
$mainBlue:#2b59f1;
$mainOrange:#e76532;
$mainYellow:#ecf75a;
$mainGreen:#3ae765;


html,body{
  height:100%
  
}
body {
  background-image: url(../img/image.jpg);

  width: 100%;
}
