
.select {
    text-align: center;
    height: 50px;
}

.list {
  display: block;
  margin: 0 auto;
  
 
}

input[type=radio] {
     display: none;
    
 } 

label {
    
    letter-spacing: 20px;
    font-size: 30px;
    color: $fff;
    cursor: pointer;
    text-align: center;
   


	
}
.select input[type="radio"]:checked.selecta + label {
    
    color: #fcebfa;
    text-shadow:
    0 0 10px $mainPink,
    0 0 15px $mainPink,
    0 0 20px $mainPink,
    0 0 25px $mainPink,
    0 0 30px $mainPink,
    0 0 35px $mainPink,
    0 0 40px $mainPink;
    transition: .5s;
}

.select input[type="radio"]:checked.selectb + label {
    color: #eff1f8;
    text-shadow:
    0 0 10px $mainBlue,
    0 0 15px $mainBlue,
    0 0 20px $mainBlue,
    0 0 25px $mainBlue,
    0 0 30px $mainBlue,
    0 0 35px $mainBlue,
    0 0 40px #abb9e9;
    transition: .5s;
}

.select input[type="radio"]:checked.selectc + label {
    color: #f8f7f7;
    text-shadow:
    0 0 10px #f56b35,
    0 0 15px $mainOrange,
    0 0 20px $mainOrange,
    0 0 25px $mainOrange,
    0 0 30px $mainOrange,
    0 0 35px #e49677,
    0 0 40px #e2b7a6;
    transition: .5s;
}

.select input[type="radio"]:checked.selectd + label {
    color: #f8fadf;
    text-shadow:
    0 0 10px $mainYellow,
    0 0 15px $mainYellow,
    0 0 20px $mainYellow,
    0 0 25px $mainYellow,
    0 0 30px $mainYellow,
    0 0 35px $mainYellow,
    0 0 40px $mainYellow;
    transition: .5s;
}

.select input[type="radio"]:checked.selecte + label {
    color: #defde6;
    text-shadow:
    0 0 10px $mainGreen,
    0 0 15px  $mainGreen,
    0 0 20px  $mainGreen,
    0 0 25px  $mainGreen,
    0 0 30px  $mainGreen,
    0 0 35px  $mainGreen,
    0 0 40px  $mainGreen;
    transition: .5s;
}

.select label {
    
    color: $fff;
        text-shadow:
        0 0 10px  $fff,
        0 0 15px  $fff,
        0 0 20px  $fff;
        
}

.li-color-A {
    font-size: 20px;
    color: #fcebfa;
    text-shadow:
    0 0 10px $mainPink,
    0 0 15px $mainPink,
    0 0 20px $mainPink,
    0 0 25px $mainPink,
    0 0 30px $mainPink,
    0 0 35px $mainPink,
    0 0 40px $mainPink;
    transition: .5s;

}

.li-color-B {
    font-size: 20px;
  color: #eff1f8;
    text-shadow:
    0 0 10px $mainBlue,
    0 0 15px $mainBlue,
    0 0 20px $mainBlue,
    0 0 25px $mainBlue,
    0 0 30px $mainBlue,
    0 0 35px $mainBlue,
    0 0 40px #abb9e9;
    transition: .5s;

}

.li-color-C {
    font-size: 20px;
 color: #f8f7f7;
    text-shadow:
    0 0 10px #f56b35,
    0 0 15px $mainOrange,
    0 0 20px $mainOrange,
    0 0 25px $mainOrange,
    0 0 30px $mainOrange,
    0 0 35px #e49677,
    0 0 40px #e2b7a6;
    transition: .5s;

}

.li-color-D {
    font-size: 20px;
color: #f8fadf;
    text-shadow:
    0 0 10px $mainYellow,
    0 0 15px $mainYellow,
    0 0 20px $mainYellow,
    0 0 25px $mainYellow,
    0 0 30px $mainYellow,
    0 0 35px $mainYellow,
    0 0 40px $mainYellow;
    transition: .5s;

}

.li-color-E {
    font-size: 20px;
color: #defde6;
    text-shadow:
    0 0 10px $mainGreen,
    0 0 15px  $mainGreen,
    0 0 20px  $mainGreen,
    0 0 25px  $mainGreen,
    0 0 30px  $mainGreen,
    0 0 35px  $mainGreen,
    0 0 40px  $mainGreen;
    transition: .5s;

}